apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.bitnami.com/bitnami
    chart: postgresql
    targetRevision: 18.1.0
    helm:
      values: |
        auth:
          username: postgres
          password: postgres
          database: postgres
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true
            namespace: demo
            labels:
              release: prometheus
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true